name: Run Test Android
run-name: ${{ github.actor }} is testing ${{ github.event.pull_request.title }}

on:
  pull_request:
    types: [opened,reopened,edited,synchronize]
    branches: [ "main" ]
    paths:
      - '**'
  workflow_dispatch:

jobs:
  Test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      issues: write
      checks: write

    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Create google-services.json
        shell: bash
        run: |
          echo "${{ secrets.GOOGLE_SERVICES_JSON }}" > /home/runner/work/EsmorgaAndroid/EsmorgaAndroid/app/google-services.json

      - name: Grant execute permission for gradlew
        shell: bash
        run: chmod +x gradlew

      - name: Test with Gradle
        id: tests
        shell: bash
        run: ./gradlew view:verifyPaparazzi koverHtmlReport
        continue-on-error: true

      - name: Add coverage report to PR
        if: success()
        id: kover
        uses: mi-kas/kover-report@v1
        with:
          path: '${{ github.workspace }}/build/reports/kover/report.xml'
          title: Code Coverage
          update-comment: true
          min-coverage-overall: 75
          min-coverage-changed-files: 50
          coverage-counter-type: LINE

      - name: Publish JUnit Report (on failure)
        if: steps.tests.outcome == 'failure'
        uses: mikepenz/action-junit-report@v4
        with:
          report_paths: '**/build/test-results/**/*.xml'
          check_name: Test Report
          detailed_summary: true
          require_tests: true
          fail_on_failure: false